<nb-card>
    <nb-card-header>
      Smart Table
    </nb-card-header>
  
    <nb-card-body>
      <my-table [index]="true" [rows]="rows" [columns]="columns" [idKey]="'Username'" [router]="'/pages/create-user'" (onDelete)="onDeleteUser($event)"></my-table>
    </nb-card-body>
  </nb-card>
