.main-body{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background-color: rgb(247, 242, 242)
}
.left-body{    
    margin-left: 15%;
    width: 87%;
    background-color: white;
}
.right-body{
    margin-right: 15%;
    width: 87%;
    background-color: white;
}
.title{
    height: 45px;
    padding-left: 20px;
    line-height: 40px;
    width: 100%;
    background-color:#2b5fec;
    color: white;
    font-weight: bold;
}
.container{
    width: 100%;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.title-container{
    font-size: small;
    font-weight: 650;
    padding-top: 0px;
    padding-bottom: 0px;
}
.text-input{
    border-radius: 2px;
    height: 32px;
}
.btn-radio-group{
    padding-left: 5px;
}
.btn-radio{
    padding-left: 5px;
}
.add-more-contacts{
    font-size: small;
}
.notes{
    padding-bottom: 20px;
}
.row-final{
    height: 100%;
}
.final-body{
    width: 85%;
    margin: auto;
    margin-top: 50px;
    height: 80px;
    background-color: white;
}
.btn-save-custom{
    position: relative;
    width: 110px;
    height: 45px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    text-align: right;
    padding-right: 10px;
}
.icon-next-custom{
    position: absolute;
    background-color: rgb(32, 146, 76);
    width: 40px;
    height: 44px;
    left: -1px; 
    top: 49%;
    transform:translateY(-50%);
    line-height: 45px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.label-save{
    position: absolute;
    font-size: large;
    height: 50%;
    transform: translateY(-70%);
    right: 15px;
}
.container-final-center{
    position: relative;
    width: 100%;
    height: 100%;
}
.container-final-left{
    position: relative;
}
.container-final-right{
    position: relative;
}
.label-midle-final{
    position: absolute;
    font-size: small;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
}
.final-tag-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}