<div class="main-body">
    <div class="row">
        <div class="col-sm-6">
            <div class="left-body">
                <div class="title">Client Details</div>
                <div class="container">
                    <label for="" class="title-container">Type</label>
                    <div class="btn-radio-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input btn-radio" id="customRadio" name="example"
                                value="customEx">
                            <label class="custom-control-label" for="customRadio">Individual</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input btn-radio" id="customRadio2" name="example"
                                value="customEx">
                            <label class="custom-control-label" for="customRadio2">Business</label>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group">
                        <label class="title-container" for="usr">Full Name / Business Name
                            <span style="color: red;">*</span>
                        </label>
                        <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.fullName">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="title-container" for="usr">First Name</label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.firstName">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="title-container" for="usr" >Last Name</label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.lastName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="title-container" for="usr">Telephone</label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.telephone">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="title-container" for="usr" >Mobile</label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.mobile">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="title-container" for="usr">Street Address 1</label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.streetAddress1">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="title-container" for="usr">Street Address 2</label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.streetAddress2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="title-container" for="usr">City</label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.city">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="title-container" for="usr">State</label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.state">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="title-container" for="usr">Postal Code
                                </label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.postalCode">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="title-container" for="usr">Country</label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.country">
                            </div>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label title-container" for="customCheck">Add Secondary
                            address</label>
                    </div>
                    <label for="" class="add-more-contacts">
                        <i class="fas fa-plus"></i>
                        Add more contacts
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="right-body">
                <div class="title">Account Details</div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="title-container" for="usr">Code Number
                                    <span style="color: red;">*</span>
                                </label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.codeNumber">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="title-container" for="usr">Invoicing Method</label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.invoicingMethod">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="title-container" for="usr">Currency</label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.currency">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="title-container" for="usr">Email
                                    <span style="color: red;">*</span>
                                </label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="title-container" for="usr">Category</label>
                                <input type="text" class="form-control text-input" id="usr" [(ngModel)]="customer.category">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="title-container" for="usr">Notes</label>
                        <textarea class="form-control notes" rows="1" id="comment" name="text" [(ngModel)]="customer.notes"></textarea>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label title-container" for="customCheck">Send online login details
                            to client</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="final-body">
        <div class="row row-final">
            <div class="col-sm-3 container-final-left">
                <button type="button" class="btn btn-success btn-save-custom" (click)="saveCustomer($event)">
                    <i class="fas fa-chevron-right icon-next-custom"></i>
                    Save
                </button>
            </div>
            <div class="col-sm-7 container-final-center">
                <label for="" class="label-midle-final">
                    <i class="fas fa-cog" style="padding-right: 2px;"></i>Client custom fields settings</label>
            </div>
            <div class="col-sm-2 container-final-right">
                <div class="form-group">
                    <i class="fas fa-tags final-tag-icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>