<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Tạo sản phẩm mới</nb-card-header>
        <nb-card-body>
          <div class="full-name-inputs">
            <div class="form-group custom-group">
              <label class="title-container" for="usr">Tên sản phẩm:</label>
              <input type="text" nbInput fullWidth fieldSize="small" placeholder="Tên sản phẩm">
            </div>
          </div>
          <div class="full-name-inputs">
            <div class="form-group">
              <label class="title-container" for="usr">Loại sản phẩm:</label>
              <div>
                <nb-select selected="1">
                  <nb-option value="1">Option1</nb-option>
                  <nb-option value="2">Option2</nb-option>
                  <nb-option value="3">Option3</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
          <div class="full-name-inputs">
            <div class="form-group">
              <label class="title-container" for="usr">Thương hiệu:</label>
              <div>
                <nb-select selected="1">
                  <nb-option value="1">Thương hiệu 1</nb-option>
                  <nb-option value="2">Thương hiệu 2</nb-option>
                  <nb-option value="3">Thương hiệu 3</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-body>
          <button type="submit" nbButton status="primary">Tạo sản phẩm</button>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card class="nb-card-right">
        <nb-card-body>
          <div class="full-name-inputs">
            <div class="form-group custom-group">
              <label class="title-container" for="usr">Mô tả sản phẩm::</label>
              <textarea rows="3" nbInput fullWidth shape="round"  placeholder="Mô tả sản phẩm."></textarea>
            </div>
          </div>
          <div class="full-name-inputs">
            <div class="form-group custom-group-price">
              <label class="title-container" for="usr">Giá mua:</label>
              <input type="text" nbInput fullWidth fieldSize="small" placeholder="Giá mua">
            </div>
          </div>
          <div class="full-name-inputs">
            <div class="form-group custom-group-price">
              <label class="title-container" for="usr">Giá bán lẻ:</label>
              <input type="text" nbInput fullWidth fieldSize="small" placeholder="Giá bán lẻ">
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>