<div class="row">
  <form class="form-main" [formGroup]="promotionForm" (ngSubmit)="onSubmit()">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Tạo sự kiện khuyến mãi</nb-card-header>
      <nb-card-body>
        <div class="full-name-inputs"> 
          <div class="form-group"> 
            <label class="title-container" for="usr">Tên sự kiện:
              <span style="color: red;">*</span>
            </label>
            <input type="text" nbInput fullWidth fieldSize="small" placeholder="Tên sự kiện" formControlName="Name"
            [ngClass]="{'invalid-input': submitted && f.Name.errors}">
            <div *ngIf="submitted && f.Name.errors" class="invalid-require">
              <div *ngIf="f.Name.errors.required">Vui lòng nhập tên sự kiện</div>
            </div>
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group">
            <label class="title-container" for="usr">Giảm giá:
              <span style="color: red;">*</span>
            </label>
            <input type="text" nbInput fullWidth fieldSize="small" placeholder="Giảm giá" formControlName="Discount"
            [ngClass]="{'invalid-input': submitted && f.Discount.errors}">
            <div *ngIf="submitted && f.Discount.errors" class="invalid-require">
              <div *ngIf="f.Discount.errors.required">Vui lòng nhập mức giảm giá</div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <button *ngIf="!id" type="submit" nbButton status="primary">Tạo sự kiện</button>
        <button *ngIf="id" type="submit" nbButton status="primary">Cập nhật</button>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card class="nb-card-right">
      <nb-card-body>
        <div class="form-group">
          <label class="title-container" for="usr">Ngày bắt đầu:
            <span style="color: red;">*</span>
          </label>
          <div>
            <input nbInput placeholder="Ngày bắt đầu" [nbDatepicker]="formpicker" formControlName="Datefrom"
            [ngClass]="{'invalid-input': submitted && f.Datefrom.errors}">
            <div *ngIf="submitted && f.Datefrom.errors" class="invalid-require">
              <div *ngIf="f.Datefrom.errors.required">Vui lòng nhập ngày bắt đầu</div>
            </div>
            <nb-datepicker #formpicker></nb-datepicker>
          </div>
        </div>
        <div class="form-group ">
          <label class="title-container" for="usr">Ngày kết thúc:
            <span style="color: red;">*</span>
          </label>
          <div>
            <input nbInput placeholder="Ngày kết thúc" [nbDatepicker]="rangepicker" formControlName="Dateto"
            [ngClass]="{'invalid-input': submitted && f.Dateto.errors}">
            <div *ngIf="submitted && f.Dateto.errors" class="invalid-require">
              <div *ngIf="f.Dateto.errors.required">Vui lòng nhập ngày kết thúc</div>
            </div>
            <nb-datepicker #rangepicker></nb-datepicker>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</form>
</div>