<div class="row">
  <form class="form-main" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Tạo chức vụ</nb-card-header>
      <nb-card-body>
        <div class="full-name-inputs">
          <div class="form-group">
            <label class="title-container" style="margin-right:20px;" for="usr">Tên chức vụ:
              <span style="color: red;">*</span>
            </label>
            <input type="text" nbInput fullWidth fieldSize="small" placeholder="Chức vụ của người dùng" formControlName="Role"
            [ngClass]="{'invalid-input': submitted && f.Role.errors}">
            <div *ngIf="submitted && f.Role.errors" class="invalid-require">
              <div *ngIf="f.Role.errors.required">Bạn chưa nhập chức vụ</div>
            </div>
          </div>
        </div>
        <button type="submit" nbButton status="primary">Tạo Chức vụ</button>
      </nb-card-body>
    </nb-card>
  </div>
  </form>
</div>
