.final{
    margin-top:50px;
    width: 100%;
    background-color: #FAFBFC;
}
.final-header{
    position: relative;
    display: flex;
    width: 83%;
    margin: auto;
}
.final-left{
    width: 60%;
    padding-right: 30px;;
}
.final-right{
    flex-grow: 1;
    padding-left: 30px;;
    position: relative;
}
.final-title{
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
}
.paragraph-title{
    text-align: justify;
    padding: 0px 0px 0px 0px;
    margin-top:15px;
    margin-bottom: 15px;
    color: rgba(29, 28, 28, 0.952);
    font-size: 12px;
    font-weight: bold;
}
.paragraph-content{
    padding: 0px 0px 0px 0px;
    margin-top:8px;
    margin-bottom: 8px;
    color: rgba(151, 148, 148, 0.959);
    text-align: justify;
    font-size: 15px;
}
.final-right-box{
    display: flex;
    width: 100%;
    height:45px;
}
.box-final-left{
    width: 80%;
    height: 100%;
    font-size: 12px;
    text-align: justify;
}
.box-final-right{
    flex-grow: 1;
    height: 100%;
    text-align: center;
    font-size: 12px;
}
.infor-and-connect{
    display: flex;
    margin-top: 100px;
    width: 100%;
}
.infor{
    width: 160px;
    height: 300px;
}
.connect{
    flex-grow: 1;
    padding: 0px 20px 0px 20px;
}
.infor-title{
    margin: 10px 0px 10px 0px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}
.app-connect{
    widows: 100%;
    display: flex;
}
.app-logo{
    width: 50%;
    margin: 10px 8px 5px 5px;
}
.list-logo-connect{
    display: flex;
    list-style-type: none;

    padding: 0px;
}
.connect-img{
    padding-right: 14px;
}
.group-information{
    position: absolute;
    top: 850px;
    width: 320px;
}
.list-infor-logo{
    display: flex;
    margin-bottom: 20px;
}
.note-logo{
    flex-grow: 1;
    padding-left: 20px;
    text-align: left;
}