<div class="final">
    <div class="final-header">
        <div class="final-left">
            <div class="final-title">BUY JEANS FOR MEN</div>
            <p class="paragraph-title">JEANS FOR MEN: DURABLE AND STYLISH CASUAL CLOTHING ESSENTIALS</p>
            <p class="paragraph-content">The first pair of men’s jeans was created in 1873 as durable clothing fit for everyday use, for hardworking Americans. It was originally used by factory workers, farmers and miners. In the 1950s, denim jeans were popular among teenagers and symbolised rebellion. In the next two decades, it became a regularly-used garment suitable to be worn by all. Men’s jeans have been worn by cowboys, rock stars and even presidents.</p>
            <p class="paragraph-content">Today, jeans are considered functional fashion essentials across the world. Gents’ jeans have become a symbol of a progressive society. You can find the best jeans for men online at Myntra, in myriad styling options. Choose your favourites and create a relaxed or smart casual style based on your mood for the day.</p>
            <div class="paragraph-title">THE BEST MEN’S JEANS BRANDS AT MYNTRA</div>
            <p class="paragraph-content">At Myntra, we are host to top-notch brands of jeans for men, which feature clothing of impeccable quality. Here are tips on how to choose gents jeans online at Myntra and create multiple outfits:</p>
            <p class="paragraph-content">1. You can start with straight-cut men’s jeans, which are timeless classics. These work well for any body type. Choose a pair of cool blue jeans and wear it with a round-neck white printed T-shirt. Choose a pair of brown loafers, a brown belt and also a hat or sunglasses for summers. This relaxed outfit is perfect for chilling out with friends and for college.</p>
            <p class="paragraph-content">2. Create a smart casual look with slim-fit men’s jeans. Choose a pair of slim jeans in brown and wear it with a striped green T-shirt, a brown cardigan and white slip-on shoes. For a nerdy look wear a leather-strap watch, large-framed glasses and a scarf. Step into a theatre to watch your favourite play.</p>
            <p class="paragraph-content">3. If you would like a sleeker option, opt for skinny-fit men’s jeans and wear them with shirts. Team up a pair of dark blue skinny jeans with a blue shirt. Wear a colour-blocked jacket with sporty footwear such as Adidas shoes. Head over to the sports bar with friends for a football match.</p>
            <p class="paragraph-content">4. Men who are tall and slender can choose super-skinny jeans. Large, over-sized tops are a great match for these men’s jeans. Pick up a pair of black super-skinny jeans. Wear it with a long T-shirt and brown heeled boots. Accessorise with a metal strap watch or chain bracelets, dark sunglasses and a fedora hat. This go-to street style is sure to invite admiring glances.</p>
            <p class="paragraph-content">5. Chill out in the summer with a pair of tapered-fit, distressed jeans. Choose one with a cropped fit. Wear it with a red gingham check shirt and blue slip-on shoes.</p>
            <div class="paragraph-title">BUY MEN’S JEANS ONLINE WITH EASE</div>
            <p class="paragraph-content">Rest assured you can buy men’s jeans online at Myntra with absolute convenience. You can view the men’s jeans price of all your favourite brands at one go. Our selection and payment processes are a breeze. Make sure you also check out other smart men’s clothing varieties such as chinos, trousers, shorts and T shirts.</p>     
            <div class="infor-and-connect">
                <div class="infor">
                    <div class="infor-title">ONLINE SHOPPING</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Men</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Women</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Kids</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Home & Living</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Ensetials</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Gift Card</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Myntra Insider</div>
                </div>
                <div class="infor">
                    <div class="infor-title">USEFUL LINKS</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Men</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Women</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Kids</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Home & Living</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Ensetials</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Gift Card</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Myntra Insider</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Men</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Women</div>
                    <div style="color: gray; padding-top: 2px;padding-bottom: 2px;">Kids</div>
                </div>
                <div class="connect">
                    <div class="infor-title">EXPERIENCE MYNTRA APP ON MOBILE</div>
                    <div class="app-connect">
                        <div class="app-logo">
                            <img src="\assets\images\logo-gg-play.png" alt="">
                        </div>
                        <div class="app-logo">
                            <img src="\assets\images\logo-appstore.png" alt="">
                        </div>
                    </div>
                    <div class="infor-title">KEEP IN TOUCH</div>
                    <ul class="list-logo-connect">
                        <li class="connect-img">
                            <img src="\assets\images\logo-fb.png" alt="">
                        </li>
                        <li class="connect-img">
                            <img src="\assets\images\logo-twitter.png" alt="">
                        </li>
                        <li class="connect-img">
                            <img src="\assets\images\logo-yt.png" alt="">
                        </li>
                        <li class="connect-img">
                            <img src="\assets\images\logo-insta.png" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="final-right">
            <div class="final-title">JEANS FOR MEN PRICE LIST</div>
            <div class="final-right-box">
                <div class="box-final-left" style="font-weight: bold;">Jeans For Men</div>
                <div class="box-final-right" style="font-weight: bold;">PRICE (RS)</div>
            </div>
            <div class="final-right-box">
                <div class="box-final-left">Roadster Fast and Furious Men Navy Slim Fit Mid-Rise Clean Look Stretchable Jeans</div>
                <div class="box-final-right">Rs. 599</div>
            </div>
            <div class="final-right-box">
                <div class="box-final-left">HIGHLANDER Men Blue Slim Fit Mid-Rise Clean Look Jeans</div>
                <div class="box-final-right">Rs. 679</div>
            </div>
            <div class="final-right-box">
                <div class="box-final-left">LOCOMOTIVE Men Navy Blue Tapered Fit Mid-Rise Clean Look Stretchable Jeans</div>
                <div class="box-final-right">Rs. 874</div>
            </div>
            <div class="final-right-box">
                <div class="box-final-left">Roadster Fast and Furious Men Navy Slim Fit Mid-Rise Clean Look Stretchable Jeans</div>
                <div class="box-final-right">Rs. 599</div>
            </div>
            <div class="final-right-box">
                <div class="box-final-left">HIGHLANDER Men Blue Slim Fit Mid-Rise Clean Look Jeans</div>
                <div class="box-final-right">Rs. 679</div>
            </div>
            <div class="final-right-box">
                <div class="box-final-left">LOCOMOTIVE Men Navy Blue Tapered Fit Mid-Rise Clean Look Stretchable Jeans</div>
                <div class="box-final-right">Rs. 874</div>
            </div>
            <div class="final-right-box">
                <div class="box-final-left">HIGHLANDER Men Blue Slim Fit Mid-Rise Clean Look Jeans</div>
                <div class="box-final-right">Rs. 679</div>
            </div>
            <div class="final-right-box">
                <div class="box-final-left">LOCOMOTIVE Men Navy Blue Tapered Fit Mid-Rise Clean Look Stretchable Jeans</div>
                <div class="box-final-right">Rs. 874</div>
            </div>
            <div class="final-right-box">
                <div class="box-final-left">Roadster Fast and Furious Men Navy Slim Fit Mid-Rise Clean Look Stretchable Jeans</div>
                <div class="box-final-right">Rs. 599</div>
            </div>
            <div class="group-information">
                <div class="list-infor-logo">
                    <img style="width: 50px;" src="\assets\images\logo-original.png" alt="">
                    <div class="note-logo"> <span style="font-weight: bold;">100% ORIGINAL</span> guarantee for all products at myntra.com</div>
                </div>
                <div class="list-infor-logo">
                    <img style="width: 50px;" src="\assets\images\logo-30days.png" alt="">
                    <div class="note-logo"> <span style="font-weight: bold;">Return within 30days</span> of receiving your order</div>
                </div>
                <div class="list-infor-logo">
                    <img style="width: 50px;" src="\assets\images\logo-truck.png" alt="">
                    <div class="note-logo"> <span style="font-weight: bold;">Get free delivery</span> for every order above Rs. 1199</div>
                </div>
            </div>
        </div>
    </div>
</div>
