<div class="break">Home / Clothing / Men Clothing / Jeans / <span style="font-weight: bold;"> Kook N Keech Jeans >
    More By Kook N Keech</span></div>
<div class="main-body">
<ul class="left-body-container">
    <li  *ngFor="let image of images" class="item-picture" (click)="showImageBig($event)">
        <div class="frames-image">
            <img class="image-item" [src]="image" alt="Hình ảnh">
        </div>
    </li>
</ul>
<div class="item-picture-big" (click)="clickItemPictureBig($event)">
    <div class="container-image">
        <ul>
            <li class="image-mini" *ngFor="let image of images">
                <img [src]="image" alt="" (click)="MiniImgCLick($event)">
            </li>
        </ul>
        <img class="img-big-show" src="" alt="">
        <div class="button-custom">
            <i style="max-width: 30px; max-height: 30px;" class="fas fa-times"></i>
        </div>
        <div class="button-custom-next">
            <i id="btn-next" class="fas fa-chevron-right"></i>
        </div>
        <div class="button-custom-back">
            <i id="btn-back" class="fas fa-chevron-left"></i>
        </div>
    </div>        
</div>
<div class="right-body-container">
    <div class="group-content">
        <div style="font-size: 25px; font-weight: bold;">{{product.name}}</div>
        <div style="font-size: 20px; color: gray; opacity: 0.98;">Men Blue Skinny Fit Mid-Rise Mildly Distressed
            Stretchable Jeans</div>
    </div>
    <div class="group-content">
        <div style=" margin-top: 8px;font-size: 25px; font-weight: bold;">Rs. 899
            <span
                style="margin-left: 4px; text-decoration-line: line-through; font-size: 20px; font-weight: normal; color: rgb(107, 105, 105);">
                Rs. 1499</span>
            <span style="margin-left: 4px; font-size: 23px; color: #ff905a;"> (40% OFF)</span>
        </div>
        <div
            style="font-size: 15px; font-weight: bold; color: rgb(48, 134, 91); opacity: 0.98; margin-top: 8px; margin-bottom: 8px;">
            inclusive of all taxes</div>
        <div style=" margin-top: 30px;" class="box-size">
            <div style="font-weight: bold;">SELECT SIZE</div>
            <div class="box-size-chart">SIZE CHART</div>
            <div class="arrow-to-right"></div>
        </div>
        <ul class="circle-list">
            <li>28</li>
            <li>30</li>
            <li>32</li>
            <li>34</li>
            <li>36</li>
        </ul>
        <div class="add-bag">
            <div class="bag">
                <i id="bag-shopping" class="fas fa-shopping-bag"></i>
                ADD TO BAG
            </div>
            <div class="wishlist">
                <i style="margin-right: 6px;" class="fas fa-bookmark"></i>
                WISHLIST
            </div>
        </div>
        <div style="font-weight: bold; margin-bottom: 20px;">DELIVERY OPTIONS
            <i style="padding-left: 8px;" class="fas fa-truck"></i>
        </div>
        <div class="ckeck">
            <label class="label-check" for="">Check</label>
            <input type="text" name="check-code" id="check-code">
        </div>
        <p style="font-size: small; margin-bottom: 30px;; font-weight: lighter;">Please enter PIN code to check
            delivery time & Pay on Delivery Availability</p>
        <p style="opacity: 0.7; font-weight: lighter;">100% Original Products</p>
        <p style="opacity: 0.7; font-weight: lighter;">Free Delivery on order above Rs. 1199</p>
        <p style="opacity: 0.7; font-weight: lighter;">Pay on delivery might be available</p>
        <p style="opacity: 0.7; font-weight: lighter;">Easy 30 days returns and exchanges</p>
        <p style="margin-bottom: 40px; opacity: 0.6; font-weight: lighter;">Try & Buy might be available</p>
        <div style="font-weight: bold; margin-bottom: 20px;">BEST OFFERS
            <i style="margin-left: 5px;" class="fas fa-tag"></i>
        </div>
        <div style="font-weight: bold;">Best Price:
            <span style="color: #ff905a; font-weight: bolder; font-size: 20px; margin-left: 5px;">Rs. 782</span>
        </div>
        <ul class="best-price">
            <li>Applicable on: Orders above Rs. 1249 (only on first purchase)</li>
            <li>Coupon code: <span style="font-weight: bolder;">WELCOME150</span></li>
            <li>Coupon Discount: 13% off upto Rs. 150 (check cart for final savings)</li>
        </ul>
        <div class="EMI-option">
            <div style="margin: 15px 0px 3px 20px; font-weight: bold;">EMI option available</div>
            <div style="margin: 3px 0px 15px 20px; font-size: small;">EMI starting from Rs. 42/month</div>
            <div class="view">VIEW PLAN
                <div style="margin-left: 10px; margin-top: 3px " class="arrow-to-right"></div>
            </div>
        </div>
    </div>
</div>
</div>