.break{
    margin-top: 116px;
    padding: 22px 0px 10px 22px;
    width: 100%;
}
.category-title{
    padding: 5px 0px 25px 25px;
    width: 100%;
}
.main-body{
    display: flex;
    position: relative;
}
.left-body-container{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}
.left-body-container .item-picture{
    list-style-type: none;
    position: relative;
    margin: 6px;
    width: 350px;
    height: 466px;
}

.frames-image{
    position: relative;
    overflow: hidden;
    width: 350px;
    height: 466px;
}
.image-item{
    width: 350px;
    height: 466px;
    max-width: 100%;
    max-height: 100%;
    transition: all 900ms;
}
.image-item:hover{
    transform: scale(1.08);
}
.right-body-container{
    flex-grow: 1;
    margin-top: 18px;
    padding-left: 24px;
}
.group-content{
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(221, 218, 218);
}
.box-size{
    display: flex;

}
.box-size-chart{
    margin-left: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #ff3e6c;
    width: 100px;
    cursor: pointer;
}
.arrow-to-right{
    margin-top: 5px;
    width: 4px;
    height: 4px;
    border-top: 1.5px solid #ff3e6c;
    border-right: 1.5px solid #ff3e6c;
    transform: rotateZ(45deg);
}
.circle-list{
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}
.circle-list li{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border: 0.5px solid rgb(168, 165, 165);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}
.circle-list li:hover{
    border: 0.5px solid rgb(27, 26, 26);
    cursor: pointer;
}
.add-bag{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.bag{
    width: 255px;
    height: 55px;
    background-color: #ff3e6c ;
    border-radius: 4px;
    text-align:center;
    line-height: 55px;
    font-weight: bold;
    color: white;
}
.bag:hover{
    opacity: 0.9;
    cursor: pointer;
}
#bag-shopping{
    margin-right: 10px;
}
.wishlist{
    margin-left: 20px;
    width: 160px;
    height: 55px;
    border-radius: 4px;
    text-align:center;
    line-height: 55px;
    font-weight: bold;
    color: rgb(78, 76, 76);
    border: 0.5px solid rgb(168, 165, 165);
}
.wishlist:hover{
    border: 0.5px solid rgb(27, 26, 26);
    cursor: pointer;
}
.ckeck{
    position: relative;
    font-weight: bold;
    color: #ff3e6c;
}
#check-code{
    padding-left: 20px;
    padding-right:100px;
    height: 35px;
    width: 120px;
    border: 2px solid gainsboro;
    border-radius: 5px;
}
.label-check{
    position: absolute;
    font-size: 15px;
    line-height: 40px;
    left:180px;
}
.best-price{
    padding-left: 15px;
}
.best-price li{
    padding: 3px;
}
.EMI-option{
    position: relative;
    width: 75%;
    border: 1px solid white;
    border-radius: 5px;
}
.EMI-option .view{
    position: absolute;
    display: flex;
    font-size: x-small;
    font-weight: bolder;
    right: 10px;
    top: 15px;
    visibility: hidden;
}
.EMI-option:hover{
    border: 1px solid gray;
    border-radius: 5px;
}
.EMI-option:hover >.view{
    visibility: visible;
}
.item-picture-big{
    position: fixed;
    top: 0px;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.829);
    display: none;
    text-align: center;
}
.img-big-show{
    width: 920px;
    height: 1280px;
    max-width: 920px;
    max-height: 1280px;
}

.container-image{
    position: relative;
}
.container-image .button-custom{
    top: 20px;
    right: 230px;
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: rgb(252, 246, 246);
    border-radius: 3px;
    align-items: center;
    line-height: 45px;
}
.container-image .button-custom-next{
    top: 300px;
    right: 230px;
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: rgb(252, 246, 246);
    border-radius: 3px;
    align-items: center;
    line-height: 45px;
}
.container-image .button-custom-back{
    top: 300px;
    left: 230px;
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: rgb(252, 246, 246);
    border-radius: 3px;
    align-items: center;
    line-height: 45px;
}
.button-custom:hover{
    opacity: 0.8;
}
.container-image .button-custom-next:hover{
    opacity: 0.8;
}
.container-image .button-custom-back:hover{
    opacity: 0.8;
}
.container-image ul{
    margin: 0px;
    list-style-type: none;
    position: absolute;
    top: 20px;
    left: 192px;
}
.container-image ul li{
    margin: 0px;
    margin-bottom: 10px;
    width: 30px;
    height: 35px;
    border: 1px solid black;
    // overflow: hidden;
}
.container-image ul li img{
    width: 30px;
    height: 35px;
    max-width: 30px;
    max-height: 35px;
}
.image-mini img:hover{
    cursor: pointer;
}
// .mini-box-picture{
//     left:100px;
// }
// .mini-box-picture li{
//     width: 30px;
//     height: 40px;
//     background-color: darken($color: #000000, $amount: 0);
// }