<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Tạo thể loại mới</nb-card-header>
      <nb-card-body>
        <div class="full-name-inputs">
          <div class="form-group">
            <label class="title-container" for="usr">Tên thể loại:</label>
            <input type="text" nbInput fullWidth fieldSize="small" placeholder="Thể loại">
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <button type="submit" nbButton status="primary">Tạo thể loại</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>