nb-card-body {
      overflow: visible;
      padding-top: 0;
    
      > * {
        margin-top: 1rem;
      }
    }
    
    .full-name-inputs,
    .validation-checkboxes {
      display: flex;
      margin: 0 -0.5rem;
    
      > * {
        margin: 0 0.5rem;
      }
    }
    
    .full-name-inputs{
      width: 100%;
    }

    .checkbox-radio {
      display: flex;
    }
    
    .demo-items {
      flex: 1 0 33%;
    }
    
    .full-name-inputs{
      display: flex;
    }
    .form-group{
      margin-left: 10px;
      width: 50%;
    }
    .title-container{
      font-size: small;
      font-weight: 650;
      padding-top: 0px;
      padding-bottom: 0px;
  }