<div class="main-body">
    <div class="break">Home / ClothingMen / ClothingMen / Jeans / Jeans For Men</div>
    <div class="category-title">Jeans For Men - 19319 items</div>
    <div class="body-center">
        <div class="left">
            <div class="header-left">
                <div style="font-weight: bold;" class="header-txt">FILTERS</div>
            </div>
            <div class="body-left">
                <div class="categories">
                    <div style="font-weight: bold;" class="header-text">CATEGORIES</div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>                    
                        <div style="font-size: medium; font-weight: lighter;">Tshirts (58426)</div>
                       
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Lounge Tshirts (639)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Tshirts Smart(3)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Tshirts (58426)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Lounge Tshirts (639)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Tshirts Smart(3)</div>
                    </div>
                </div>
                <div class="brand">
                    <div class="search-box-left-body">
                        <input type="search" class="search-box-left">
                        <div class="item-search-left">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <div style="font-weight: bold;" class="header-text">BRAND</div>                   
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Lounge Tshirts (639)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Tshirts Smart(3)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Tshirts (58426)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Lounge Tshirts (639)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Tshirts Smart(3)</div>
                    </div>
                </div>
                <div class="brand">
                    <div style="font-weight: bold;" class="header-text">PRICE</div>                   
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Rs. 4575 to Rs. 8751(486)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Rs. 8751 to Rs. 12927(83)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Rs. 12927 to Rs. 17103(11)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>        
                        <div style="font-size: medium; font-weight: lighter;">Rs. 12927 to Rs. 17103(11)</div>
                    </div>
                </div>
                <div class="brand">
                    <div class="search-box-left-body">
                        <input type="search" class="search-box-left">
                        <div class="item-search-left">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <div class="color-header">COLOR</div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>  
                        <div id="circle-color-1" class="circle-color"></div>      
                        <div style="font-size: medium; font-weight: lighter; padding-left: 10px;">Blue (13514)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>  
                        <div id="circle-color-2" class="circle-color"></div>      
                        <div style="font-size: medium; font-weight: lighter; padding-left: 10px;">Black (1953)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>  
                        <div id="circle-color-3" class="circle-color"></div>      
                        <div style="font-size: medium; font-weight: lighter; padding-left: 10px;">Navy Blue (1428)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>  
                        <div id="circle-color-4" class="circle-color"></div>      
                        <div style="font-size: medium; font-weight: lighter; padding-left: 10px;">Grey (1286)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>  
                        <div id="circle-color-5" class="circle-color"></div>      
                        <div style="font-size: medium; font-weight: lighter; padding-left: 10px;">Charcoal (278)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>  
                        <div id="circle-color-6" class="circle-color"></div>      
                        <div style="font-size: medium; font-weight: lighter; padding-left: 10px;">White (233)</div>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <div class="checkbox-custom"></div>  
                        <div id="circle-color-7" class="circle-color"></div>      
                        <div style="font-size: medium; font-weight: lighter; padding-left: 10px;">Olive (71)</div>
                    </div>
                </div>
                <div class="brand">
                    <div class="color-header">DISCOUNT RANGE</div>
                    <div class="radio-group">
                        <div style="width: 100%; padding-top: 3px; padding-bottom: 3px;">
                            <label class="radio">
                                <input type="radio" name="discount">10% and above
                                <span></span>
                            </label>      
                        </div>
                        <div style="width: 100%; padding-top: 3px; padding-bottom: 3px;">
                            <label class="radio">
                                <input type="radio" name="discount">20% and above
                                <span></span>
                        </label></div>                       
                        <div style="width: 100%; padding-top: 3px; padding-bottom: 3px;">
                            <label class="radio">
                                <input type="radio" name="discount">30% and above
                                <span></span>
                            </label></div>          
                        <div style="width: 100%; padding-top: 3px; padding-bottom: 3px;">
                            <label class="radio">
                                <input type="radio" name="discount">40% and above
                                <span></span>
                            </label>
                        </div>    
                        <div style="width: 100%; padding-top: 3px; padding-bottom: 3px;">
                            <label class="radio">
                                <input type="radio" name="discount">50% and above
                                <span></span>
                            </label>
                        </div>          
                        <div style="width: 100%; padding-top: 3px; padding-bottom: 3px;">
                            <label class="radio">
                                <input type="radio" name="discount">60% and above
                                <span></span>
                            </label>
                        </div>                      
                        <div style="width: 100%; padding-top: 3px; padding-bottom: 3px;">
                            <label class="radio">
                                <input type="radio" name="discount">70% and above
                                <span></span>
                            </label>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="header-right">
                <div class="header-right-left">
                    <ul class="atsa-filters">
                        <li class="atsa-item">
                            <div class="atsa-name">Bundles</div>
                            <div class="down-custom"></div>                        
                        </li>
                        <li class="atsa-item">
                            <div class="atsa-name">Distress</div>
                            <div class="down-custom"></div>
                        </li>
                        <li class="atsa-item">
                            <div class="atsa-name">Fade</div>
                            <div class="down-custom"></div>                       
                        </li>
                        <li class="atsa-item">
                            <div class="atsa-name">Features</div>
                            <div class="down-custom"></div>                       
                        </li>
                        <li class="atsa-item">
                            <div class="atsa-name">Fit</div>
                            <div class="down-custom"></div>                        
                        </li>
                        <li class="atsa-item">
                            <div class="atsa-name">Length</div>
                            <div class="down-custom"></div>                     
                        </li>
                        <li class="atsa-item">
                            <div class="atsa-name">Shade</div>
                            <div class="down-custom"></div>
                        </li>
                        <li class="atsa-item">
                            <div class="atsa-name">Size</div>
                            <div class="down-custom"></div>                       
                        </li>
                    </ul>
                </div>
                <div class="header-right-right">
                    <div class="name-sortBy">Sort by:</div>
                    <div class="select-box">
                        <div class="down-custom"></div>
                        <div class="text-select" style="padding-top: 8px;cursor: default; font-weight: bold;">Recommended</div>
                    </div>
                    <div class="select-box-option">
                        <ul style="margin: 9px 0px 9px 0px;padding: 0px;">
                            <li class="li-option-select" (click)="clickOptionSelect($event)">What's New</li>
                            <li class="li-option-select" (click)="clickOptionSelect($event)">Popularity</li>
                            <li class="li-option-select" (click)="clickOptionSelect($event)">Better Discount</li>
                            <li class="li-option-select" (click)="clickOptionSelect($event)">Price: Hight to Low</li>
                            <li class="li-option-select" (click)="clickOptionSelect($event)">Price: Low to Hight</li>
                            <li class="li-option-select" (click)="clickOptionSelect($event)">Farster Delivery</li>
                        </ul>
                    </div>
                </div>
                <div class="header-expand">
                    <div class="header-expand-child">
                        <ul class="option-header-expand">
                            <li>
                                <div class="checkbox-custom"></div>
                                <div class="content-checkBox">Single Style</div>
                            </li>
                            <li>
                                <div class="checkbox-custom"></div>
                                <div class="content-checkBox">Single Style</div>
                            </li>
                            <li>
                                <div class="checkbox-custom"></div>
                                <div class="content-checkBox">Single Style</div>
                            </li>
                            <li>
                                <div class="checkbox-custom"></div>
                                <div class="content-checkBox">Single Style</div>
                            </li>
                            <li>
                                <div class="checkbox-custom"></div>
                                <div class="content-checkBox">Single Style</div>
                            </li>
                            <li>
                                <div class="checkbox-custom"></div>
                                <div class="content-checkBox">Single Style</div>
                            </li>
                            <li>
                                <div class="checkbox-custom"></div>
                                <div class="content-checkBox">Single Style</div>
                            </li>
                            <li>
                                <div class="checkbox-custom"></div>
                                <div class="content-checkBox">Single Style</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-body-content">
                <ul class="product-list">
                    <a *ngFor="let product of products" class="product-list-item" [routerLink]="['/products',product.id]">
                        <li (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)">
                            <div class="picture-product">
                                <div  class="group-img">
                                    <div *ngFor="let image of product.products">
                                        <img [src]="image" alt="Picture">
                                    </div>
                                </div>
                            </div>
                            <div class="infor-product">
                                <div style="font-weight: bold;" class="infor-product-text">{{product.name}}</div>
                                <div class="infor-product-text">{{product.mo_ta}}</div>
                                <div style="font-weight: bold; font-size: small;" class="infor-product-text">Rs. {{product.gia}}</div>
                            </div>
                            <div class="infor-product-hide">
                                <div class="wishlist-now">
                                    <div class="wishlist-now-text">WISHLISH NOW</div>
                                    <div style="font-size: xx-small" class="wishlist-now-text">SHOP AFTER LOOKDOWN</div>
                                </div>
                                <div style="top: 51px; position: relative; font-size: small;text-align: center;">Size:28, 30, 32, 34, 36,
                                    38, 40</div>
                            </div>
                        </li>
                        
                    </a>
                
                </ul>
                </div>
                <div class="next-page">
                <div class="page-of">
                    <div class="number-page">Page 1 of 26</div>
                </div>
                <div class="select-page">
                    <ul class="number-of-page-select">
                        <li class="li-page-selected">1</li>
                        <li class="li-page-selected">2</li>
                        <li class="li-page-selected">3</li>
                        <li class="li-page-selected">4</li>
                        <li class="li-page-selected">5</li>
                        <li class="li-page-selected">6</li>
                        <li class="li-page-selected">7</li>
                        <li class="li-page-selected">8</li>
                        <li class="li-page-selected">9</li>
                        <li class="li-page-selected">10</li>
                    </ul>
                    <div class="next-button">Next </div>
                </div>
            </div>
        </div>
    </div>

</div>
