.headerest{
    height: 108px;
    width: 100%;
}
.header{
    display: flex;
    position: fixed;
    background: white;
    width: 100%;
    height: 85px;
    top:0px;
    z-index: 20;
}
body{
    background-color: white;
}
.body-shadow{
    position:fixed;
    width:100%;
    height: 100%;
    visibility: hidden;
}
.body-shadow-show{
    visibility: visible;
    z-index: 4;
    background-color: rgba(128, 128, 128, 0.616);
}
.logo{  
    // background: url(LogoM.png);
    margin-left: 40px;
    margin-top: 12px;
    width: 80px;
    height: 50px;
}
.menu{
     display: flex;
}
.menu-item{
    display: inline-flex;
    margin-top: 35px;
    padding: 0px 10px 5px 10px;
}
.menu-content{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 85px;
    left: 105px;
    background-color: white;
    transition: visibility 350ms,opacity 350ms;
    display: flex;
    z-index: 10;
    border-top: 3;
    font-family: -webkit-body;
}
.menu-item:hover > .menu-content{
    opacity: 1;
    visibility: visible;
}
#menu-item1:hover{
    border-bottom: 4px solid rgb(240, 83, 109);
}
#menu-item2:hover{
    border-bottom: 4px solid rgba(250, 125, 208, 0.993);
}
#menu-item3:hover{
    border-bottom: 4px solid rgba(253, 138, 43, 0.993);
}
#menu-item4:hover{
    border-bottom: 4px solid rgb(240, 243, 63);
}
#menu-item5:hover{
    border-bottom: 4px solid rgb(62, 138, 102);
}
.mn-col{
    width: 150px;
    border: 2px solid rgb(255, 255, 255);
    padding-left: 35px;
    padding-right: 35px;
}
.mn-col:nth-child(even){
    background-color: rgba(255, 249, 249, 0.911);
}
.list-container{
    list-style-type: none;
    padding: 0px 15px 0px 15px;
}

.list-item{
    padding: 3px;
}
.list-item:first-child{
    color: red;
}
.list-item:not(:first-child):hover{
    font-weight: bold;
    font-size: medium;
}
.hr-line{
    border: 1px solid rgba(177, 175, 175, 0.918);
}
.right-menu-container{
    display: flex;
    flex-grow: 1;
    height: 100%;
    margin-left: 175px;
    z-index: 9;
}
#search-box{
    position: relative;
    top: 25px;
    height: 25px;
    width: 300px;
    padding: 3px 6px 3px 40px;
    border-radius: 6px;
    background-color: rgba(245, 244, 244, 0.925);
}
.right-menu .right-menu-item{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 12px 15px 12px;
}
.right-menu{
    padding: 3px;
    margin: 15px;
    /* right: 0px; */
}
.fas.fa-search{
    position: relative;
    right: 333px;
    top: 36px;
}
.profile-open{
    background-color: white;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 84px;
    width: 275px;
    height: 420px;
    transition: opacity 350ms, visibility 350ms;
    border:4px solid rgba(202, 202, 202, 0.144);
}
.menu-item-profile:hover{
    border-bottom: 4px solid rgb(192, 65, 154);
}
.right-menu-item:hover > .profile-open{    
    opacity: 1;
    visibility: visible;
}
.profile-account{
    width: 100%;
    height: 115px;
}
.account{
    list-style-type: none;
    padding: 15px;
    align-items: center;
}
.btn-account{
    display: inline-flex;
    position: relative;
    left: 35px;
    width: 85px;
    height: 40px;
    align-items: center;
    padding-left: 18px;
}
.list-item-account{
    padding: 3px;
}
.list-item-account:hover{
    font-weight: bold;
    cursor:default;
}
.notification{
    position: fixed;
    z-index: 9;
    background-color: rgb(80, 158, 125);
    text-align: center;
    padding: 7px 0px 7px 0px;
    color: white;
    width: 100%;
    top: 85px;
}
.break{
    padding: 10px 0px 10px 25px;
    width: 100%;
}
.category-title{
    padding: 5px 0px 25px 25px;
    width: 100%;
}
.main-body{
    margin-top: 116px;
    /* margin-bottom:500px; */
    /* position: relative; */
}
.body-center{
    display: flex;
}
.main-body .left{
    position: relative;
    /* height: 500px; */
    background-color: white;
}
.main-body .right{

    flex-grow: 1;
    right: 0;
}
.main-body .left .header-left{
    position:relative;
    background-color: white;
    width: 260px;
    height: 50px;
    border-bottom: 1px solid rgb(201, 198, 198);
    align-items:center;

}
.header-left .header-txt{
    position:absolute;
    top: 10px;
    left:22px;
}
.main-body .left .body-left{

    width: 100%;
    height: 1000px;
    border-right: 1px solid rgb(201, 198, 198);

}
.main-body .right .header-right{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(201, 198, 198);
    align-items: center;
    margin-top:4px;
}
.header-right .header-right-left{
    position: relative;
    align-items: center;
    width: 70%;

    /* height: 100%; */
    /* background-color: cornflowerblue; */
}
.header-right .header-right-right{
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 10px;
}
.background-color-gray{
    background-color:rgba(238, 234, 234, 0.767);
}
.atsa-filters{
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    left: 0;
    list-style-type: none;
    /* top: 0px; */
    margin: 0;
}
.atsa-filters li{
    /* position: relative; */
    display: flex;
    border-radius:  30px;
    /* border: 0.5px solid darkgray; */
    margin-right: 20px;
    margin-bottom: 10px;
    padding-right: 10px;
    height: 28px;
    /* width: 100px; */
    /* background-color: indianred; */
}
.atsa-name{
    /* position: absolute; */
    padding-left: 15px;
    font-weight: lighter;
    font-size: medium;
    padding-right: 3px;
    top: 0px;
    margin-top: 4px;
    /* transform: translateY(-50%); */
    cursor:default;
}
li .down-custom{
    /* position: absolute; */
    transform: rotate(45deg);
    /* top: 8px; */
    /* right: 15px; */
    width: 5px;
    height: 5px;
    margin-top: 10px;
    margin-left: 8px;
    border-right: 1.25px solid darkgray;
    border-bottom: 1.25px solid darkgray;
}
.name-sortBy{
    position: absolute;
    text-align: center;
    left: 50px;
    width: 60px;
    background-color: white;
    z-index: 1;
}
.select-box{
    position: relative;
    padding-left: 100px;
    border: 0.5px solid rgb(221, 214, 214);
    border-radius: 2%;
    margin: auto;
    width: 170px;
    height: 35px;
    background-color: white;
}
.select-box .down-custom{
    position: absolute;
    transform: rotate(45deg); 
    top: 8px;
    right: 15px;
    width: 10px;
    height: 10px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;

}
.main-body-content .product-list{
    width: 1;
    display: flex;
    flex-wrap: wrap;
    border-left:1px solid silver;
}
.product-list-item{
    margin: 10px 56px 30px 0px;
    list-style-type: none;
    width: 200px;
    height: 315px;
    border: 1px solid rgb(235, 232, 232);
}
.picture-product{
    display: flex;
    position: relative;
    width: 100%;
    height: 230px;
    overflow: hidden;
}
.group-img{
    position: absolute;
    display: flex;
    left: 0px;
    transition: 1300ms;
}
.group-img img{
    width: 200px;
    height: 230px;
    max-width: 200px;
    max-height: 230px;
}
.infor-product{
    width: 100%;
    height: 85px;
    position: relative;
    background-color: white;
}

.product-item-1{
    position: absolute;
    width: 100%;
    height: 230px;
    transition: left 1400ms;
}
#items-picture-1-1{
    left: 0px;
    //background-image: url(product1.jpg);
}
#items-picture-1-2{
    left: 200px;
    //background-image: url(product1-1.jpg);
}
#items-picture-1-3{
    left: 400px;
    // background-image: url(product1-2.jpg);
}
#items-picture-2-1{
    left: 0px;
    // background-image: url(product2-1.jpg);
}
#items-picture-2-2{
    left: 200px;
    // background-image: url(product2-2.jpg);
}
.infor-product-text{
    padding: 5px;
    margin: 0px 0px 0px 11px;
}
.infor-product-hide{
    position: relative;
    top: -95px;
    width: 100%;
    height: 70px;
    background-color:white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms, visibility 200ms;
}
.infor-product-hide .wishlist-now{
    position: absolute;
    background-color: rgb(233, 40, 72);
    width: 80%;
    height: 40px;
    margin: 8px 0px 0px 21px;
    border-radius: 3px;
}
.infor-product-hide .wishlist-now .wishlist-now-text{
    position: relative;
    top: 5px;
    font-style: normal;
    font-weight: bold;
    color: white;
    align-items: center;
    text-align: center;
}
.product-list-item li:hover > .infor-product-hide{
    opacity: 1;
    visibility: visible;
}
.body-left .categories{
    position: relative;
    width: 100%;
    border-bottom: 1px solid silver;
}
.header-text{
    padding: 15px 0px 10px 20px;
}
.check-box{
    display: flex;
    padding: 2px 1px 2px 15px;
    align-items: center;
}
.body-left .brand{
    position: relative;
    width: 100%;
    border-bottom: 1px solid silver;
}
.search-box-left-body{
    position: absolute
}
.search-box-left{
    padding: 5px 8px 5px 15px;
    position: absolute;
    right: -244px;
    top: 10px;
    font-size: smaller;
    width: 25px;
    border-radius: 50px;
    border: 2px solid #e8e2e2;

}
.item-search-left{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 90px;
    top: 12px;
    left: 218px;
    background-color: white;

}
.item-search-left .fas.fa-search{
    position: absolute;
    right: 0px;
    top: 4px;
    left: 5px;
}
.expand{
    width: 230px;
}
.checkbox-custom{
    position: absolute;
    left: 18px;
    width: 17px;
    height: 17px;
    background-color: rgb(253, 247, 247);
    border-radius: 2px;
    border: 1px solid rgb(209, 207, 207);
}
.check-box input{
    margin: 6px 16px 6px 6px;
}
.checkbox-custom-backroundcolor{
    background-color: rgb(240, 83, 109);
}
.checked:after{
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1;
    width: 8px;
    height: 5px;
    border-color: rgb(255, 255, 255);
    border-style: none none solid solid;
    border-width: 2px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 20;
}
.header-expand{
    display:none;
    position:relative;
    width: 100%;
}
.option-header-expand{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 50px;
    padding-right: 100px;
}
.option-header-expand li{
    position: relative;
    width: 150px;
    margin-bottom: 10px;
}
.option-header-expand li .checkbox-custom{
    left: 0px;
}
.option-header-expand li .content-checkBox{
    padding-left: 30px;
}
.display-show-hidden{
    display: block;
}
.select-box-option{
    /* opacity: 0; */
    visibility: hidden;
    position: absolute;
    border-bottom:0.5px solid rgb(221, 214, 214);
    border-left:0.5px solid rgb(221, 214, 214);
    border-right:0.5px solid rgb(221, 214, 214);
    top: 34px;
    right:25px;
    width: 270px;
    background-color: white;
    /* transition: visibility 350ms,opacity 350ms; */
}
.li-option-select{
    list-style-type: none;
    padding-left:14px;
    height: 35px;
    line-height:35px;
}
.visible-select-box{
    visibility: visible;
    opacity: 1;
    z-index: 5;
}
.color-header{
    font-size:medium;
    font-weight:bolder;
    height: 40px;
    padding-left:20px;
    line-height: 40px;
}
.circle-color{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
#circle-color-1{
    background-color: blue;
}
#circle-color-2{
    background-color: black;
}
#circle-color-3{
    background-color: navy;
}
#circle-color-4{
    background-color: grey;
}
#circle-color-5{
    background-color: rgb(104, 109, 90);
}
#circle-color-6{
    border: 1px solid grey;
    background-color: white;
}
#circle-color-7{
    background-color: olive;
}
.radio-group{
    padding-bottom: 15px;
}
.radio{
    margin-left: 15px;
    padding: 3px 0px 3px 26px;
    position: relative;
    cursor: default;
}
.radio input[type="radio"]{
    display: none;
}
.radio span{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 1px solid rgb(156, 156, 156);
    position: absolute;
    left: 0px;
}
.radio span:after{
    content: "";
    height: 8px;
    width: 8px;
    background-color: rgb(214, 107, 214);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    border-radius: 50%;
}
.radio input[type="radio"]:checked ~ span:after{
    transform: translate(-50%,-50%) scale(1);
}
.next-page{
    width: 92%;
    height: 130px;
    margin: auto;
    border-top: 1px solid rgb(156, 156, 156);
    display:flex;
}
.page-of{
    position: relative;
    width: 300px;
    height: 100%;
}
.page-of .number-page{
    position: absolute;
    top: 20px;
}
.select-page{
    flex-grow: 1;
    height: 100%;
    position: relative;
    display: flex;
}
.number-of-page-select{
    position: absolute;
    display: flex;
    list-style-type: none;
    top: 20px;
}
.li-page-selected{
    margin: 0px 5px 0px 5px;
    width: 24px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
}
.next-button{
    position: absolute;
    width: 100px;
    height: 40px;
    right: 80px;
    top: 30px;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 0.5px solid rgb(189, 180, 180);
}
.next-button:hover{
    cursor: pointer;
    border: 0.5px solid black;
}
.li-page-selected:hover{
    cursor: pointer;
    border: 0.5px solid rgb(189, 180, 180);
}
.final{
    margin-top:50px;
    width: 100%;
    background-color: #FAFBFC;
}
.final-header{
    position: relative;
    display: flex;
    width: 83%;
    margin: auto;
}
.final-left{
    width: 60%;
    padding-right: 30px;;
}
.final-right{
    flex-grow: 1;
    padding-left: 30px;;
    position: relative;
}
.final-title{
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
}
.paragraph-title{
    text-align: justify;
    padding: 0px 0px 0px 0px;
    margin-top:15px;
    margin-bottom: 15px;
    color: rgba(29, 28, 28, 0.952);
    font-size: 12px;
    font-weight: bold;
}
.paragraph-content{
    padding: 0px 0px 0px 0px;
    margin-top:8px;
    margin-bottom: 8px;
    color: rgba(151, 148, 148, 0.959);
    text-align: justify;
    font-size: 15px;
}
.final-right-box{
    display: flex;
    width: 100%;
    height:45px;
}
.box-final-left{
    width: 80%;
    height: 100%;
    font-size: 12px;
    text-align: justify;
}
.box-final-right{
    flex-grow: 1;
    height: 100%;
    text-align: center;
    font-size: 12px;
}
.infor-and-connect{
    display: flex;
    margin-top: 100px;
    width: 100%;
}
.infor{
    width: 160px;
    height: 300px;
}
.connect{
    flex-grow: 1;
    padding: 0px 20px 0px 20px;
}
.infor-title{
    margin: 10px 0px 10px 0px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}
.app-connect{
    widows: 100%;
    display: flex;
}
.app-logo{
    width: 50%;
    margin: 10px 8px 5px 5px;
}
.list-logo-connect{
    display: flex;
    list-style-type: none;

    padding: 0px;
}
.connect-img{
    padding-right: 14px;
}
.group-information{
    position: absolute;
    top: 850px;
    width: 320px;
}
.list-infor-logo{
    display: flex;
    margin-bottom: 20px;
}
.note-logo{
    flex-grow: 1;
    padding-left: 20px;
    text-align: left;
}