<div class="header">
    <img src="" alt="" class="logo">
    <div class="menu">
        <div id="menu-item1" class="menu-item">MEN
            <div class="menu-content">
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Topwear</li>
                        <li class="list-item">T-Shirts</li>
                        <li class="list-item">Casual Shirts</li>
                        <li class="list-item">Formal Shirts</li>
                        <li class="list-item">Sweatshirts</li>
                        <li class="list-item">Sweaters</li>
                        <li class="list-item">Jackets</li>
                        <li class="list-item">Blazers & Coats</li>
                        <li class="list-item">Suits</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Indian & Festive Wear</li>
                        <li class="list-item">Kurtas & Kurta Sets</li>
                        <li class="list-item">Sherwanis</li>
                        <li class="list-item">Nehru Jackets</li>
                        <li class="list-item">Dhotis</li>
                    </ul>
                </div>
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                        <li class="list-item">Boxers</li>
                        <li class="list-item">Vests</li>
                        <li class="list-item">Sleepwear & Loungewear</li>
                        <li class="list-item">Thermals</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Plus Size</li>
                    </ul>
                </div>
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                </div>

                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                </div>
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="menu-item2" class="menu-item">WOMEN
            <div class="menu-content">
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Topwear</li>
                        <li class="list-item">T-Shirts</li>
                        <li class="list-item">Casual Shirts</li>
                        <li class="list-item">Formal Shirts</li>
                        <li class="list-item">Sweatshirts</li>
                        <li class="list-item">Sweaters</li>
                        <li class="list-item">Jackets</li>
                        <li class="list-item">Blazers & Coats</li>
                        <li class="list-item">Suits</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Indian & Festive Wear</li>
                        <li class="list-item">Kurtas & Kurta Sets</li>
                        <li class="list-item">Sherwanis</li>
                        <li class="list-item">Nehru Jackets</li>
                        <li class="list-item">Dhotis</li>
                    </ul>
                </div>


                <div class="mn-col">

                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                        <li class="list-item">Boxers</li>
                        <li class="list-item">Vests</li>
                        <li class="list-item">Sleepwear & Loungewear</li>
                        <li class="list-item">Thermals</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Plus Size</li>
                    </ul>
                </div>
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                </div>

                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                </div>
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="menu-item3" class="menu-item">KIDS
            <div class="menu-content">
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Topwear</li>
                        <li class="list-item">T-Shirts</li>
                        <li class="list-item">Casual Shirts</li>
                        <li class="list-item">Formal Shirts</li>
                        <li class="list-item">Sweatshirts</li>
                        <li class="list-item">Sweaters</li>
                        <li class="list-item">Jackets</li>
                        <li class="list-item">Blazers & Coats</li>
                        <li class="list-item">Suits</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Indian & Festive Wear</li>
                        <li class="list-item">Kurtas & Kurta Sets</li>
                        <li class="list-item">Sherwanis</li>
                        <li class="list-item">Nehru Jackets</li>
                        <li class="list-item">Dhotis</li>
                    </ul>
                </div>
                <div class="mn-col">

                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                        <li class="list-item">Boxers</li>
                        <li class="list-item">Vests</li>
                        <li class="list-item">Sleepwear & Loungewear</li>
                        <li class="list-item">Thermals</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Plus Size</li>
                    </ul>
                </div>
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                </div>

                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                </div>
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="menu-item4" class="menu-item">HOME & LIVING
            <div class="menu-content">
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Topwear</li>
                        <li class="list-item">T-Shirts</li>
                        <li class="list-item">Casual Shirts</li>
                        <li class="list-item">Formal Shirts</li>
                        <li class="list-item">Sweatshirts</li>
                        <li class="list-item">Sweaters</li>
                        <li class="list-item">Jackets</li>
                        <li class="list-item">Blazers & Coats</li>
                        <li class="list-item">Suits</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Indian & Festive Wear</li>
                        <li class="list-item">Kurtas & Kurta Sets</li>
                        <li class="list-item">Sherwanis</li>
                        <li class="list-item">Nehru Jackets</li>
                        <li class="list-item">Dhotis</li>
                    </ul>
                </div>


                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                        <li class="list-item">Sleepwear & Loungewear</li>
                        <li class="list-item">Thermals</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                    </ul>
                    <hr class="hr-line">

                    <ul class="list-container">
                        <li class="list-item">Plus Size</li>
                    </ul>
                </div>
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                </div>

                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                </div>
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="menu-item5" class="menu-item">DISCOVER
            <div class="menu-content">
                <div class="mn-col">

                    <ul class="list-container">
                        <li class="list-item">Indian & Festive Wear</li>
                        <li class="list-item">Kurtas & Kurta Sets</li>
                        <li class="list-item">Sherwanis</li>
                        <li class="list-item">Nehru Jackets</li>
                        <li class="list-item">Dhotis</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Topwear</li>
                        <li class="list-item">T-Shirts</li>
                        <li class="list-item">Casual Shirts</li>
                        <li class="list-item">Formal Shirts</li>
                        <li class="list-item">Sweatshirts</li>
                        <li class="list-item">Sweaters</li>
                        <li class="list-item">Jackets</li>
                        <li class="list-item">Blazers & Coats</li>
                        <li class="list-item">Suits</li>
                    </ul>
                </div>


                <div class="mn-col">

                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                        <li class="list-item">Boxers</li>
                        <li class="list-item">Vests</li>
                        <li class="list-item">Sleepwear & Loungewear</li>
                        <li class="list-item">Thermals</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Plus Size</li>
                    </ul>
                </div>
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                </div>

                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>


                </div>
                <div class="mn-col">
                    <ul class="list-container">
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>
                    <hr class="hr-line">
                    <ul class="list-container">
                        <li class="list-item">Bottomwear</li>
                        <li class="list-item">Jeans</li>
                        <li class="list-item">Casual Trousers</li>
                        <li class="list-item">Formal Trousers</li>
                        <li class="list-item">Shorts</li>
                        <li class="list-item">Track Pants & Joggers</li>
                        <li class="list-item">Innerwear & Sleepwear</li>
                        <li class="list-item">Briefs & Trunks</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="right-menu-container">
        <input type="text" id="search-box">
        <i class="fas fa-search"></i>
        <ul class="right-menu">
            <li class="right-menu-item menu-item-profile">
                <i class="far fa-user"></i>
                <div class="text">Profile</div>
                <div class="profile-open">
                    <div class="profile-account">
                        <ul class="account">
                            <li style="font-weight: bold;">Welcome</li>
                            <li>To access account and manage orders</li>
                        </ul>
                        <button style="color: rgb(216, 38, 97);" class="btn-account">SIGN UP</button>
                        <button style="color: rgb(216, 38, 97);" class="btn-account">LOG IN</button>
                        <hr class="hr-line">
                        <ul class="account">
                            <li class="list-item-account">Orders</li>
                            <li class="list-item-account">Wishlist</li>
                            <li class="list-item-account">Gift Cards</li>
                            <li class="list-item-account">Contract Us</li>
                            <li class="list-item-account">Myntra Insider</li>
                        </ul>
                        <hr class="hr-line">
                        <ul class="account">
                            <li class="list-item-account">Myntra Credit</li>
                            <li class="list-item-account">Coupons</li>
                            <li class="list-item-account">Saved Cards</li>
                            <li class="list-item-account">Saved Addresses</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="right-menu-item">
                <i class="far fa-bookmark"></i>
                <div class="text">Wishlist</div>
            </li>
            <li class="right-menu-item">
                <i class="fas fa-shopping-bag"></i>
                <div class="text">Bag</div>
            </li>
        </ul>
    </div>
</div>
<div class="notification">- Delivering essentials only during lockdown -</div>
<div class="body-shadow"></div>