.container{
    width: 100%;

}
.title-container{
    font-weight :bold;
    margin-top:10px;
    display: flex;
    
}
.container-lg-2{
    display: flex;
}
.bot{
    margin-bottom:  20px;
    
}
.nopadding{
    padding:0;
}
