<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Tạo tin tức</nb-card-header>
      <nb-card-body>
        <div class="full-name-inputs">
          <div class="form-group custom-group">
            <label class="title-container" for="usr">Tiêu đề:</label>
            <input type="text" nbInput halfWidth fieldSize="small" placeholder="Tiêu đề">
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group">
            <label class="title-container" for="usr">Mô tả:</label>
            <textarea rows="2" nbInput fullWidth shape="round" placeholder="Mô tả"></textarea>
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group">
            <label class="title-container" for="usr">Nội dung:</label>
            <textarea rows="10" nbInput fullWidth shape="round" placeholder="Nội dung"></textarea>
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group">
            <label class="title-container" for="usr">Thẻ:</label>
            <input type="text" fieldSize="small" nbInput halfWidth placeholder="Thẻ">
          </div>
        </div>
        <!-- <nb-card>
            <nb-card-header>
              CKEditor
            </nb-card-header>
            <nb-card-body>
              <sckeditor [config]="{ extraPlugins: 'divarea', height: '320' }"></ckeditor>
              <ckeditor></ckeditor>
            </nb-card-body>
          </nb-card>  -->
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <div class="buttons-row">
          <button type="submit" nbButton status="primary">
              Thêm tin tức
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>