<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Tạo hóa đơn nhập kho</nb-card-header>
            <nb-card-body>
                <div class="form-group ">
                    <label class="title-container">Ngày nhập kho:</label>
                    <div>
                        <input nbInput placeholder="Form Picker" [nbDatepicker]="formpicker">
                        <nb-datepicker #formpicker></nb-datepicker>
                    </div>
                </div>
                <div class="full-name-inputs">
                    <div class="form-group">
                        <label class="title-container" for="usr">Tổng hóa đơn: </label>
                        <input type="text" nbInput fullWidth fieldSize="small" placeholder="Tổng hóa đơn: VNĐ">
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body>
                <div class="buttons-row">
                    <button type="submit" nbButton status="primary">
                        Lưu hóa đơn
                    </button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>