.invalid-require{
  font-size: smaller;
    color: red;
}

nb-card-body {
    overflow: visible;
    padding-top: 0;
  
    > * {
      margin-top: 1rem;
    }
  }

  .validation-checkboxes {
    display: flex;
    margin: 0 -0.5rem;
  
    > * {
      margin: 0 0.5rem;
    }
  }
  
  .checkbox-radio {
    display: flex;
  }
  
  .demo-items {
    flex: 1 0 33%;
  }
  .title-container{
    font-size: small;
    font-weight: 650;
    padding-top: 0px;
    padding-bottom: 0px;
}
.form-main{
  display: flex;
}

.row{
  width: 100%;
}
.full-name-inputs{
  display: flex;
}
.form-group{
  margin-left: 10px;
  width: 100%;
}