.notification{
    position: fixed;
    z-index: 9;
    background-color: rgb(80, 158, 125);
    text-align: center;
    padding: 7px 0px 7px 0px;
    color: white;
    width: 100%;
    top: 85px;
}
.break{
    padding: 10px 0px 10px 25px;
    width: 100%;
}
.category-title{
    padding: 5px 0px 25px 25px;
    width: 100%;
}