<div class="row">
  <form class="form-main" [formGroup]="registerForm" (ngSubmit)="onSubmit()"> 
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Tạo tài khoản</nb-card-header>
        <nb-card-body> 
          <div class="full-name-inputs">
            <div class="form-group">
              <label class="title-container" for="usr">Tên đăng nhập:
                <span style="color: red;">*</span>
              </label>
              <input type="text" nbInput fullWidth placeholder="Username" formControlName="Username"
                [ngClass]="{'invalid-input': submitted && f.Username.errors}">
              <div *ngIf="submitted && f.Username.errors" class="invalid-require">
                <div *ngIf="f.Username.errors.required">Tên đăng nhập bắt buộc</div>
              </div>
            </div>   
          </div>
          <div class="full-name-inputs">
            <div class="form-group">
              <label class="title-container" for="usr">Mật khẩu:
                <span style="color: red;">*</span>
              </label>
              <input type="password" nbInput fullWidth placeholder="Password" formControlName="Password"
                [ngClass]="{'invalid-input': submitted && f.Password.errors}">
              <div *ngIf="submitted && f.Password.errors" class="invalid-require">
                <div *ngIf="f.Password.errors.required">Mật khẩu bắt buộc</div>
              </div>
            </div>
            <div class="form-group">
              <label class="title-container" for="usr">Xác nhận mật khẩu:
                <span style="color: red;">*</span>
              </label>
              <input type="password" nbInput fullWidth placeholder="Password" formControlName="ConfirmPassword">
              <!-- <div class="error" *ngif="f.ConfirmPassword.errors && 
              f.ConfirmPassword.errors.ConfirmPassword">
                Passsword and ConfirmPassword didn't match.
              </div> -->
              <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-require">
                <div *ngIf="f.ConfirmPassword.errors.required">Bat buoc</div>
                <div *ngIf="f.ConfirmPassword.errors.MatKhauKhongKhop">Mat khau khong khop</div>
              </div>
            </div> 
          </div>

          <div class="form-group">
            <label class="title-container" for="usr">Họ và tên:
              <span style="color: red;">*</span>
            </label>
            <input type="text" nbInput fullWidth placeholder="Full Name" formControlName="Fullname"
              [ngClass]="{'invalid-input': submitted && f.Fullname.errors}">
            <div *ngIf="submitted && f.Fullname.errors" class="invalid-require">
              <div *ngIf="f.Fullname.errors.required">Họ và tên bắt buộc</div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-body>
          <button type="submit" nbButton status="primary">Tạo tài khoản</button>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-body>
          <div class="full-name-inputs">
            <div class="form-group">
              <label class="title-container" for="usr">Số điện thoại:</label>
              <input type="text" nbInput fullWidth placeholder="Mobile" formControlName="Phonenumber"
                [ngClass]="{'invalid-input': submitted && f.Phonenumber.errors}">
              <div *ngIf="submitted && f.Phonenumber.errors" class="invalid-require">
                <div *ngIf="f.Phonenumber.errors.required">Số điện thoại bắt buộc</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="title-container" for="usr">Địa chỉ:</label>
            <input type="text" nbInput fullWidth placeholder="Address" formControlName="Address"
              [ngClass]="{'invalid-input': submitted && f.Address.errors}">
            <div *ngIf="submitted && f.Address.errors" class="invalid-require">
              <div *ngIf="f.Address.errors.required">Địa chỉ bắt buộc</div>
            </div>
          </div>
          <div class="full-name-inputs">
            <div class="form-group">
              <label class="title-container" for="usr">Giới tính:</label>
              <div>
                <nb-select selected="1" formControlName="Sex">
                  <nb-option value="1">Nam</nb-option>
                  <nb-option value="2">Nữ</nb-option>
                  <nb-option value="3">Khác</nb-option>
                </nb-select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="title-container" for="usr">Email:
              <span style="color: red;">*</span>
            </label>
            <input type="text" nbInput fullWidth placeholder="Email" formControlName="Email"
              [ngClass]="{'invalid-input': submitted && f.Email.errors}">
            <div *ngIf="submitted && f.Email.errors" class="invalid-require">
              <div *ngIf="f.Email.errors.required">Email bắt buộc</div>
            </div>
          </div>
          <div class="form-group">
            <label class="title-container" for="usr">Ngày sinh:</label>
            <div>
              <input nbInput placeholder="Ngày sinh" [nbDatepicker]="formpicker" formControlName="Dateofbirth"
                [ngClass]="{'invalid-input': submitted && f.Dateofbirth.errors}">
              <div *ngIf="submitted && f.Dateofbirth.errors" class="invalid-require">
                <div *ngIf="f.Dateofbirth.errors.required">Ngày sinh bắt buộc</div>
              </div>
              <nb-datepicker #formpicker></nb-datepicker>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </form>
</div>