<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Tạo nhóm khách hàng</nb-card-header>
      <nb-card-body>
        <div class="full-name-inputs">
          <div class="form-group ">
            <label class="title-container" style="margin-right:20px;" for="usr">Tên nhóm:</label>
            <input type="text" nbInput halfWidth fieldSize="small" placeholder="Tên nhóm khách hàng">
          </div>
        </div>
        <button type="submit" nbButton status="primary">Tạo nhóm khách hàng</button>
      </nb-card-body>
    </nb-card>
    </div>
</div>




<!-- <nb-card>
          <nb-card-header>Validation States</nb-card-header>
          <nb-card-body>
            <input type="text" nbInput fullWidth status="info"  placeholder="Input with Info">
            <input type="text" nbInput fullWidth status="success"  placeholder="Warning Input">
            <input type="text" nbInput fullWidth status="warning"  placeholder="Danger Input">
            <input type="text" nbInput fullWidth status="danger" placeholder="Danger Input">
            <input type="text" nbInput fullWidth status="primary"  placeholder="Input with Primary">
            <div class="validation-checkboxes">
              <nb-checkbox status="success">Success Checkbox</nb-checkbox>
              <nb-checkbox status="warning">Warning Checkbox</nb-checkbox>
              <nb-checkbox status="danger">Danger Checkbox</nb-checkbox>
            </div>
          </nb-card-body>
        </nb-card>
    
        <nb-card>
          <nb-card-header>Checkboxes & Radios</nb-card-header>
          <nb-card-body class="checkbox-radio">
            <div class="demo-items">
              <nb-checkbox>Checkbox 1</nb-checkbox>
              <nb-checkbox [value]="true">Checkbox 2</nb-checkbox>
            </div>
            <div class="demo-items">
              <nb-radio-group [(value)]="radioGroupValue">
                <nb-radio
                  [value]="'This is value 1'">
                  Radio 1
                </nb-radio>
                <nb-radio
                  [value]="'This is value 2'">
                  Radio 2
                </nb-radio>
                <nb-radio
                  [value]="'This is value 3'">
                  Radio 3
                </nb-radio>
              </nb-radio-group>
            </div>
            <div class="demo-items">
              <nb-checkbox disabled>Disabled Checkbox</nb-checkbox>
              <nb-radio-group disabled>
                <nb-radio
                  [value]="'Disabled Value'">
                  Disabled Radio
                </nb-radio>
              </nb-radio-group>
            </div>
          </nb-card-body>
</nb-card> -->