<div class="row">
  <form class="form-main" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Tạo thương hiệu mới</nb-card-header>
        <nb-card-body>
          <div class="full-name-inputs">
            <div class="form-group">
              <label class="title-container" for="usr">Tên thương hiệu:</label>
              <input type="text" nbInput fullWidth fieldSize="small" placeholder="Tên thương hiệu"
                formControlName="Name"  [ngClass]="{'invalid-input': submitted && f.Name.errors}">
                <div *ngIf="submitted && f.Name.errors" class="invalid-require">
                  <div *ngIf="f.Name.errors.required">Tên bắt buộc</div>
                </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-body>
          <button *ngIf="check" type="submit" nbButton status="primary">Tạo thương hiệu</button>
          <button *ngIf="!check" type="submit" nbButton status="primary">Cập nhật</button>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-body>
          <div class="form-group">
            <label class="title-container" for="usr">Số điện thoại:</label>
            <input type="text" nbInput fullWidth fieldSize="small" placeholder="Số điện thoại"
              formControlName="Phonenumber"  [ngClass]="{'invalid-input': submitted && f.Phonenumber.errors}">
              <div *ngIf="submitted && f.Phonenumber.errors" class="invalid-require">
                <div *ngIf="f.Phonenumber.errors.required">Số điện thoại bắt buộc</div>
              </div>
          </div>
          <div class="form-group">
            <label class="title-container" for="usr">Địa chỉ:</label>
            <input type="text" nbInput fullWidth fieldSize="small" placeholder="Địa chỉ" formControlName="Address"  [ngClass]="{'invalid-input': submitted && f.Address.errors}">
            <div *ngIf="submitted && f.Address.errors" class="invalid-require">
              <div *ngIf="f.Address.errors.required">Địa chỉ bắt buộc</div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </form>
</div>