<div class="my-table-container">
    <table class="table table-bordered">
        <thead>
            <tr class="columns-name">
                <th *ngIf="index">Index</th>
                <th *ngFor="let col of columns">{{col.name}}</th> 
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="body-main-users">
            <tr *ngFor="let row of rows;let i = index">
                <td *ngIf="index">{{i+1 }}</td>
                <td *ngFor="let col of columns">{{row[col.dataKey]}}</td>
                <td class="action">
                    <div class="button-left ion-edit ng-star-inserted" [routerLink]="[router,row[idKey]]"></div>
                    <div class="button-right ion-trash-a ng-star-inserted" (click)="onDelete(row)"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>