.my-table-container{
    width: 100%;
}
.columns-name th{
    text-align: center;
}
.action{
    display: flex;
}
.button-left{
    width: 50%;
    padding: 0px;
    margin-left: 10px;
}
.button-left:hover{
    cursor: pointer;
}
.button-right{
    flex-grow: 1;
    padding: 0px;
    margin-left: 10px;
}
.button-right:hover{
    cursor: pointer;
}
.body-main-users tr:nth-child(even){
    background-color: rgb(219, 214, 214);
}