<nb-card>
    <nb-card-header>
      Smart Table
    </nb-card-header>
  
    <nb-card-body>
      <my-table [index]="false" [rows]="rows" [columns]="columns" [idKey]="'ID'" [router]="'/pages/create-brand'" (onDelete)="onDeleteBrand($event)"></my-table>
    </nb-card-body>
  </nb-card>